*{
    margin: 0;
    padding: 0;
    font-family: DM Sans;
}


html {
    scroll-behavior: smooth;
  }


/* ------------ Loading ------------------- */
/* .loading{
    position: fixed;
    z-index: 99;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: #ECF0F1;
    display: flex;
} */
 


/* ------------ Navigation Bar ------------------- */

header{
    width: 100%;
    z-index: 10;
    top: 0;
}

#Top{
    background: url("Image/HeaderBG1980.jpg") center no-repeat;
    background-size: cover;
    height: 100vh;
}

header .navbar-brand{
    font-weight: 600;
    font-size: 1.5rem !important;
    padding-left: 38px;
}

.navbar-brand .fas{
    font-size: 1.8rem;
    font-weight: 600 !important;
    /* color: #2C3E50; */
    padding: 10px 10px;
}

.navbar-nav li{
    padding: 0px 10px;
}

.navbar ul li a{
    float: right;
    font-weight: 600 !important;
    font-size: 15px;
    text-align: center;
    letter-spacing: 1.5px;
    /* color: #2C3E50 !important; */

}

.navbar ul li a:hover{
    color: #2B8CFF !important;
    transition: .5s;
}

header .container h1{
    color: #2C3E50 !important;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 50px;
}

.container span{
    font-weight: 700;
}

header .container{
    display: table;
    padding: 220px 0 12px 0;
    /* margin-left: 120px; */
}

header .container p{
    font-size: 24px;
    padding: 28px 0 0 0;
}

header .container a{
    margin: 16px 0;
    font-size: 20px;
}

header .container a:hover{
    background: transparent;
    color: #2C3E50 !important;
    transition: .6s;
}

/* ------------ How ------------------- */
#How{
    padding: 50px 0px;
}

/* #How .container{
    height: 75vh;
} */

#How .container h1{
    font-size: 50px;
    font-weight: 600;
    padding: 0px 38px;
}

#How .container h2{
    font-size: 35px;
}

#How .container h2 a{
    margin: 10px 20px 10px 10px;
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 20px;
}

#How .container h2 span{
    font-weight: 600;
    font-size: 34px;
}

#How .container h2 .or{
    font-size: 28px;
    padding-right: 10px;
}

.Instruction{
    padding: 0px 0;
}

.Instruction h2{
    padding: 12px 0 0;
    font-size: 28px;
}

.Instruction small{
    font-size: 18px;
    margin-left: 40px;
    text-align: left;
}

/* ------------ Our Main Features ------------------- */
#Features{
    padding: 50px 0;
    background: linear-gradient(45Deg, rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("Image/features.jpg") center no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#Features h1{
    text-align: center;
    font-weight: 600;
    font-size: 42px;
    letter-spacing: 1.2px;
    color: #ECF0F1 !important;
}

#Features h1::after{
    content: '';
    width: 240px;
    height: 3.5px;
    margin: 10px auto 5px;
    display: block;
    background: #ECF0F1;
}

#Features h3{
    color: #ECF0F1 !important;
}

#Features .icon{
    font-size: 45px;
    margin: 20px auto;
    padding: 20px;
    height: 100px;
    color: #ECF0F1 !important;
    width: 100px;
    border: 1px solid #ECF0F1;
    border-radius: 50%;
}

#Features p{
    font-size: 14px;
    margin: 20px 0;
    color: #ECF0F1;
}

.feature{
    margin-top: 40px;
}
.feature .col-md-4{
    border-radius: 2.5%;
    padding: 40px auto;
}

.feature .col-md-4:hover{
    background: #2B8CFF;
    cursor: pointer;
    transition: 0.7s;
}

/* ------------ Sign Up & Sign In------------------- */

#SignUp{
    height: 100vh;
    width: 100%;
    background: url("Image/SignUp1980.jpg") center no-repeat;
    background-size: cover;
}

#SignIn{
    height: 100vh;
    width: 100%;
    background: url("Image/SignIn1980.jpg") center no-repeat;
    background-size: cover;    
}

.Sign .SignUp{
    margin: 70px 0 0;
}

.Sign h1{
    font-size: 45px;
    font-weight: 600;
    text-align: center;
    letter-spacing: .8px;
    color: #2C3E50 !important;
}

.Sign form{
    margin: 34px 0;
}

.Sign .container:first-of-type{
    height: 82vh;
}

.Sign .SignUp .form-group{
    padding: 0px 0;
    margin-bottom: 18px;
    position: relative;
}

.Sign .SignUp .form-group label{
    color: #333333 !important;
}

.Sign .SignUp .form-group small{
    color: #2C3E50 !important;
}

.forget a{
    color: #2C3E50 !important;
    font-size: 18px;
}

.forget a:hover{
    color: #2B8CFF !important;
    text-decoration: none;
}

.Sign .SignUp .form-group a small{
    float: right;
    padding: 8px 0;
}

.Sign .SignUp h6{
    color: #2C3E50 !important;
    text-align: center;
    font-size: 15px;
    padding-top: 8px;
}

.Sign .SignUp h6 a{
    color: #2B8CFF !important;
}

/* ------------ Main Page ------------------- */
#main{

}

#main .navbar-brand{
    padding-left: 0px;
}

#main nav ul li i{
    font-size: 25px;
    font-weight: 600;
}

#main .navbar ul{
    padding-right: 12px;
}

#main .navbar ul li i{
    font-size: 30px;
}

#sub-Main #left-column{
    padding: 0 5px;

    background: #ffffff;
    
}

#sub-Main #right-column{
    /* height: 100%; */
    /* background: rgba(179, 224, 242, 0.1); */
}

#sub-Main #left-column ul li{
    padding: 10px 0;
}

#sub-Main #left-column ul li a{
    color: #2C3E50 !important;
    padding: 0 0 0 15px;
}

#sub-Main #left-column ul li a:hover{
    color: #2B8CFF !important;
}

#sub-Main #left-column ul li a span{
    font-size: 1rem;
    line-height: 10px;
}
#sub-Main #left-column ul li i{
    font-size: 1.5rem;
    padding: 10px 12px 10px 0;
}
#sub-Main #middle-column{
    height: 90vh;

}

#sub-Main #right-column ul li{
    display: inline-block;
    list-style: none;
}

#sub-Main .upperDetail{
    padding: 45px 0 0px;
    border-bottom: 2px solid #E74C3C
}

#sub-Main .upperDetail ul li:first-of-type{
    padding-left: 0px;
    padding-right: 40px;
}

#sub-Main .upperDetail ul li:last-of-type{
    padding-right: 0px;
    padding-left: 30px;
}

#sub-Main .upperDetail ul li{
    padding: 0 30px;
}

#sub-Main .upperDetail ul h4{
    font-size: 1.6rem;
    font-weight: 600;
    text-align: center;
}

#sub-Main .upperDetail ul h5{
    color: #E74C3C;
    font-size: 1.2rem;
    text-align: center;
}

#sub-Main .amount{
    padding: 50px 0;
}

#sub-Main .amount div{
    padding: 20px 0 0;
}

#sub-Main .amount ul li i{
    font-size: 2rem;
}

#sub-Main .amount ul li h4{
    font-size: 2rem;
    font-weight: 700;
    padding-left: 12px;
}

#sub-Main .amount i{
    font-size: 1rem;
}

#sub-Main .amount p{
    font-size: 16px;
    padding-left: 12px;
    line-height: 16px;
}

#sub-Main .lastDelete{
    padding: 80px 0 0;
}

#sub-Main .lastDelete a{
    color: #E74C3C !important;
    line-height: 20px !important;
    font-size: 1.25rem;
}

#sub-Main .lastDelete i{
    color: #E74C3C;
    font-size: 1.2rem;
    padding-right: 12px;
}


/* ------------ Dashboard ------------------- */
#sub-Main select{ 
    min-width:70px;
    max-width:140px;
    margin:5px;
    background:transparent;
    border:none;
    outline: none;
    text-align-last:center;
}

#sub-Main option{
    font-size: 1rem;
}

/* --------------- Plus Button -----------------*/
#sub-Main .addBtn{
    position: absolute;
    transform-origin: 50% 50%;
    right: 40%;
    bottom: 30px;
    z-index: 99998;
    cursor: pointer;
}


#sub-Main .addBtn .fas{
    font-size: 5rem;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.12), 0 12px 12px rgba(0, 0, 0, 0.24);
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: none;
    color: rgba(231, 77, 60, 0.9);
}

#sub-Main .addBtn .fas:hover{
    color: rgba(231, 77, 60, 1);
}

#sub-Main .dashboard{
    padding-top: 10px;
    background: #E9EDEF;
    padding: 0 0;
}

.frame1 {
    margin-top: 12px;
    padding: 0 5vh;
    height: auto;
    /* box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.05); */
    overflow: hidden;
    color: #5E5E5E;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .frame1 .row:first-of-type{
      padding: 12px 0 25px;
  }

  /* .frame1 .row .col-3:first-of-type{
      margin-right: 24px;
  }

  .frame1 .row .col-3:last-of-type{
      margin-left: 24px;
  } */

  .frame1 .row .col-3{
      margin: auto;
      padding: 0 0;
  }
  
  .plan {
    background: #fff;
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    cursor: pointer;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }

  .plan.basic:hover ~ .datas .users .fill1 {
    -webkit-transform: scaleX(0.6) translate3d(0, 0, 0);
            transform: scaleX(0.6) translate3d(0, 0, 0);
  }

  .plan.basic:hover ~ .datas .gb .fill1
  {
    -webkit-transform: scaleX(0.3) translate3d(0, 0, 0);
           transform:  scaleX(0.3) translate3d(0, 0, 0);
  }

  .plan.basic:hover ~ .datas .projects .fill1 {
    -webkit-transform: scaleX(0.1) translate3d(0, 0, 0);
            transform: scaleX(0.1) translate3d(0, 0, 0);
  }

  .plan.pro:hover ~ .datas .users .fill1 {
    -webkit-transform: scaleX(0.3) translate3d(0, 0, 0);
            transform: scaleX(0.3) translate3d(0, 0, 0);
  }
  .plan.pro:hover ~ .datas .gb .fill1  {
    -webkit-transform: scaleX(0.7) translate3d(0, 0, 0);
            transform: scaleX(0.7) translate3d(0, 0, 0);
  }
  .plan.pro:hover ~ .datas .projects .fill1 {
    -webkit-transform: scaleX(0.5) translate3d(0, 0, 0);
            transform: scaleX(0.5) translate3d(0, 0, 0);
  }

  .plan.premium:hover ~ .datas .users .fill1,
  .plan.premium:hover ~ .datas .gb .fill1,
  .plan.premium:hover ~ .datas .projects .fill1 {
    -webkit-transform: scaleX(0.6) translate3d(0, 0, 0);
            transform: scaleX(0.6) translate3d(0, 0, 0);
  }

  .plan:hover {
    -webkit-transform: scale(1.1) translate3d(0, 0, 0);
            transform: scale(1.1) translate3d(0, 0, 0);
    box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.1);
  }

  .plan:hover .title {
    background: #27A6D2;
  }

  .plan:hover .price {
    color: #27A6D2;
  }

  .plan .title{
    text-align: center;
    background: #7DD0ED;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    padding: 10px 0;
    font-size: 1rem !important;
    letter-spacing: 1.2px !important;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }

  .plan .price {
    text-align: center;
    font-size: 30px;
    line-height: 30px;
    font-weight: 700;
    padding: 16px 0 17px 0;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }

  .plan .price span {
    display: block;
    font-size: 12px;
    line-height: 12px;
    font-weight: 400;
  }

  .plan .line1 {
    height: 3px;
    background: #E4E4E4;
    margin: 0 auto 7px auto;
  }
  
  .datas {
    height: 160px;
    width: 90%;
    background: #fff;
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.1);
  }

  .datas .data {
    margin: 17px 15px 0 15px;
  }

  .datas .data .text {
    font-size: 15px;
    height: 10px;
  }

  .datas .data .text .left {
    float: left;
  }

  .datas .data .text .right {
    float: right;
  }

  .datas .data .line1 {
    /* position: relative; */
    z-index: 5;
    width: 100%;
    height: 10px;
    background: #E9EDEF;
    border-radius: 5px;
    overflow: hidden;
  }

  .datas .data .line1 .fill1 {
    /* position: relative; */
    z-index: 1;
    height: 10px;
    width: 100%;
    background: #7DD0ED;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
            transform-origin: 0 50%;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    border-radius: 3px;
  }

/* ------------ Dashboard Right Column ------------------- */
#sub-Main #right-column table{
    /* margin-top: 20px; */
    width: 100%;
}

#sub-Main #middle-column #clock{
    font-size: 1.4rem;
    text-align: center;
    margin-top: 8px;
}

#sub-Main .money{
    color:#E74C3C;
    text-align:right;
}

#sub-Main #right-column table th{
    text-align: center;
    padding: 25px 10px;
    font-size: 1rem;
    background-color:  #efefef;
    letter-spacing: 1.2px;
}

#sub-Main #right-column table th:hover{
    background-color:gray;
    box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.3);
    color: #E4E4E4;
}

#sub-Main #right-column table td{
    padding: 10px 0 10px 20px;
    width: 50%;
}

#sub-Main #right-column .day{
    color:black;
}

.gray{
      color: gray;
}

/* #right-column .blank_row
{
    background: #FFFFFF;
} */

#right-column table .blank_row:hover{
    background-color: white;
    box-shadow:none;
}

#bycata{
    visibility:hidden;
}

#date .dateUnderline{
    border-bottom: 1px solid #33333352;
}

.donut{
    margin: 20px 0;
}



/* ------------ Profile Page ------------------- */
#middle-column{
    padding-top: 25px;
    overflow: auto;
}

.AccountProfile p{
    font-size: 12px;
}

/* .AccountProfile .row{
     padding: 15px 0 10px; 
} */

.AccountProfile img{
    margin-bottom: 15px;
}

.AccountProfile h2{
    padding: 10px 0 20px;
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: 1.2px;
}

.AccountProfile h6{
    font-size: 1.25rem;
    padding: 10px 0;
}


/* #main .row{
    
}

#main .container{
    margin: 0 0;
}

#main #left-column{
    height: 100vh;
    padding: 0 auto;
}

#main #right-column{
   background: #ECF0F1;
}

#main .container-fluid .row .col-2{
    padding-top: 12px;
}

#main .container-fluid .row .col-2 .nav-item:first-of-type a{
    font-size: 2rem;
    border-bottom: 1px solid #ECF0F1;
}

#main .container-fluid .row .col-2 .nav-item:first-of-type a:hover{
    cursor: pointer;
    color: #ECF0F1 !important;
}

#main .container-fluid .row .col-2 .nav-item a{
    padding: 18px 0;
    transition: .5s;
    font-size: 1.6rem;
}

#main .container-fluid .row .col-2 .nav-item a:hover{
    color: #2B8CFF !important;
    background: transparent;
}

#main .container-fluid .row .nav-item .fas{
    padding: 0 12px 0 0;
    font-size: 2.5rem;
}

#main #Profile{
    padding: 50px 0 0;
}

#main #Profile .profile{
    margin: 0 auto;
    font-size: 8rem;
    padding: 12px 0;
}

#main #Profile .sub-profile{
    padding: 12px 0;
}

#main #Profile .sub-profile .col-5 p{
    text-align: center;
}




#main .upperDetail{
    padding: 50px 8px 20px;
    border-bottom: 2px solid #E74C3C;
}

#main .upperDetail ul li{
    display: inline-block;
    list-style: none;
    padding: 0 20px;
}

#main .upperDetail ul li:first-of-type{
    padding-left: 0px;
    padding-right: 40px;
}

#main .upperDetail ul li:last-of-type{
    padding-right: 0px;
    padding-left: 40px;
}

#main .upperDetail .fas{
    font-size: 2rem;
}

#main .upperDetail ul h5{
    color: #E74C3C;
    font-size: 1.5rem;
    text-align: center;
    margin: auto;
}

#main .amount{
    padding: 65px 0;
}

#main .amount ul .fas{
    font-size: 3.4rem;
}

#main .amount ul li{
    list-style: none;
    padding: 0 15px;
    display: inline-block;
}

#main .amount ul h4{
    font-weight: 600;
    font-size: 4rem;
}

#main .upperDetail ul h4{
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    margin: auto;
} */


/* ------------ footer ------------------- */
#Contact{
    padding: 60px 0;
}

#Contact h1{
    font-weight: 600;
    text-align: center;
    font-size: 42px;
}

#Contact .container h1::after{
    content: '';
    width: 180px;
    height: 4px;
    margin: 10px auto;
    background: #2C3E50 !important;
    display: block;
}

#Contact .container .row{
    margin-top: 30px;
}

#Contact .follow{
    background: #ECF0F1;
    padding: 10px;
    margin: 15px ;
}

#Contact .follow:hover{
    box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: 0.6s;
}

#Contact .contact-info .fas{
    margin: 10px;
    color: #2C3E50;
    font-weight: bold;
    font-size: 18px;
}

#Contact .contact-info .fab{
    margin: 8px 18px;
    color: #2C3E50;
    font-weight: bold;
    font-size: 28px;
}

::placeholder{
    color: #333333;
}
/* ------------ Our Team ------------------- */
#Team{
    padding: 75px 0;
    background: linear-gradient(45Deg, rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("Image/Team.jpg") center no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#Team .row:first-of-type{
    padding-top: 25px;
}

#Team h1{
    text-align: center;
    font-weight: 600;
    font-size: 42px;
    letter-spacing: 1.5px;
    color: #ECF0F1;
}

#Team .profile-pic h2{
    font-weight: 600;
    padding: 10px 0 0;
    font-size: 20px;
    letter-spacing: 0.5px;
    color: #2B8CFF;
}

#Team h3{
    font-size: 15px;
    color: #ECF0F1 !important;
    letter-spacing: 1.2px;
    margin-bottom: 24px;
}

#Team h1::after{
    content: '';
    background-color: #ECF0F1;
    width: 180px;
    height: 3.5px;
    display: block;
    margin: 10px auto 25px;
}

#Team .img-box img{
    border-radius: 50%;
}

/* ------------ FAQ ------------------- */
#FAQ{
    padding: 50px 0;
}

#FAQ h1{
    text-align: center;
    font-weight: 600;
    font-size: 42px;
    letter-spacing: 1.2px;
}

#FAQ h1::after{
    content: '';
    background-color: #2C3E50;
    width: 60px;
    height: 3.5px;
    display: block;
    margin: 10px auto 25px;
}

#FAQ .accordion{
    padding: 20px 0 0;
}


#FAQ .btn-link{
    color: #2B8CFF;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
}

#FAQ .btn-link:hover{
    text-decoration: none;
}

#FAQ .card-body{
    text-align: left;
    padding: 10px 2rem;
}


/* #FAQ .card-header{
    width: 100%;
} */

/* ------------ Privacy Policy ------------------- */
#privacypolicy{
    padding: 25px 0;
}
#privacypolicy h1{
    font-weight: 700;
}

#privacypolicy h2{
    font-weight: 600;
}



/* ------------ Verification ------------------- */
#Verification{
    height: 100vh;
}

#Verification .verification{
    height: auto;
    margin-top: 50px;
    margin-bottom: 25px;
    width: 35%;
    background: #ECF0F1;
    border-radius: 12px;
    padding-top: 25px;
    padding-bottom: 25px;
}

#Verification .verification p{
    text-align: center;
    margin: 10px auto;
}

#Verification .verification form{
    width: 100%;
    padding: 25px 20% 0;
    margin-bottom: 25px;
}

#Verification .verification form button{
    float: right;
}

#Verification .container .row img{
    height: 200px;
    align-content: center;
    margin: 30px auto;
}

#Verification .container:last-of-type{
    margin: 0 auto
}

#Verification .container h6{
    text-align: center;
}

#Verification h2{
    margin: 0 auto;
    font-size: 32px;
    letter-spacing: 1.5px;
    font-weight: 600;
}

#Verification p{
    font-size: 17px;
}

/* ------------ Verification Complete ------------------- */
#Verification .verification .far{
    font-size: 80px;
    font-weight: 700;
    color: #2C3E50;
    margin: 35px auto;
}

/* ------------ Forget Password Page 2 ------------------- */
#Verification .verification .fas{
    font-size: 80px;
    font-weight: 700;
    color: #2C3E50;
    margin: 35px auto;
}


/* ------------ Modal ------------------- */


/* ------------ footer ------------------- */
footer{
    padding: 50px 0 14px;
    /* background: linear-gradient(65Deg, #000000, #434343); */
    /* background: #0275d8; */
}

footer h3, a{
    color: #ECF0F1 !important;
}

footer a:hover{
    text-decoration: none;
    color: #2B8CFF !important;
    transition: .5s;
}

footer h3{
    font-weight: 600;
}

footer ul li{
    list-style-type: none;
    margin: 12px 0;
}

footer a{
    font-size: 18px;
}

footer h3::after{
    content: '';
    background: #ECF0F1;
    display: block;
    margin-top: 6px;
    width: 105px;
    height: 3.2px;
}

.copyright h5{
    margin-top: 24px;
    color: #ECF0F1 !important;
    font-size: 18px;
}

.sign-footer h6{
    color: #2C3E50 !important;
    font-size: 18px;
}